################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NotesApp/.vs/NotesApp/v16/Server/sqlite3
